body {
    background-color: rgb(80, 80, 80);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: white;
    text-decoration: none;
}
img{
    width: 150px;
    height: 150px;
}
.center{
  text-align: center ;  
}
.alinhar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bg1{
    background-color: rgb(71, 71, 71);
}
.bg2{
    background-color: rgb(95, 95, 95);
}
img2{
    width: 150px;
    height: 150px;
}
img3{
    width: 150px;
    height: 150px;
}
